@charset "utf-8";

* {
    font-family: "Rosella Inline", "Rosella Engraved", "Times New Roman", Cambria, serif;    
    margin: 0;
}

body,
td,
th {
    color: #CCCC99;
}

body {
    background-color: #000000;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.nav {
    color: #660000;
    text-align: right;
    font-size: xx-large;
    background-image: url(../assets/images/banner_top.png);
    background-repeat: no-repeat;
    height: 125px;
    margin-top: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav a,
nav a:visited {
    color: #660000;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

#navTop #links {
    position: absolute;
    font-weight: bold;
    right: 5px;
    list-style: none;
    bottom: 0px;
    z-index: 9999;
}

#navTop #links li {
    float: left;
    padding-bottom: 20px;
}

#menu-icon {
    display: none;
    width: 25%;
    float: right;
}

.logo {
    width: 450px;
    height: 360px;
    text-align: left;
    clear: none;
    bottom: auto;
    left: 0px;
    float: left;
    top: 0px;
    position: fixed;
    z-index: 2;
}

.content {
    text-align: left;
    min-width: 750px;
    margin: auto;
    width: 75%;
    clear: both;
}

h1 {
    text-align: center;
    font-style: normal;
}

h2 {
    text-align: center;
    font-weight: normal;
}

h3 {
    text-align: center;
}

#ruleset {
    clear: right;
}

.art {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#screenshot {
    clear: both;
    float: left;
}

.img {
    border: 5px solid #CC9900;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}

#boxart {
    float: right;
}

.tagline {
    padding-top: 300px;
}

.desc {
    font-size: large;
    font-weight: bold;
}

footer {
    color: #660000;
    background-image: url(../assets/images/banner_bottom.png);
    height: 75px;
    background-repeat: no-repeat;
    font-size: x-large;
    margin-top: 20px;
    width: 100%;
    min-width: 500px;
    background-size: auto 100%;
    clear: both;
}

#social {
    float: left;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    text-align: left;
    letter-spacing: 10px;
}

#social a,
#social a:visited {
    color: #660000;
    text-decoration: none;
}

#copy {
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    float: right;
    text-align: right;
}

p::first-letter {
    color: #CCCC99;
    font-size: xx-large;
}

#devnotes .title {
    float: left;
    clear: left;
    width: 30%;
    border: 1px solid #666666;
    padding: 20px 0;
}

.title:hover {
    background-color: #666666;
}

#devnotes article {
    border: 1px solid #666666;
    display: none;
}

a .title,
a .title:visited {
    color: #CCCC99;
    text-decoration: none;
}

#devnotes article:target {
    display: inline;
    width: 69%;
    background-color: #666666;
    float: right;
}

textarea {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #CCCC99;
    background-color: #000000;
    font-size: large;
    border: 2px solid #666666;
}

.email {
    background-color: #000000;
    border: 2px solid #666666;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: large;
    color: #CCCC99;
}

.submit {
    background-image: -webkit-linear-gradient(270deg, rgba(204, 153, 0, 1.00) 0%, rgba(128, 96, 0, 1.00) 100%, rgba(255, 255, 255, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(204, 153, 0, 1.00) 0%, rgba(128, 96, 0, 1.00) 100%, rgba(255, 255, 255, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(204, 153, 0, 1.00) 0%, rgba(128, 96, 0, 1.00) 100%, rgba(255, 255, 255, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(204, 153, 0, 1.00) 0%, rgba(128, 96, 0, 1.00) 100%, rgba(255, 255, 255, 1.00) 100%);
    color: #660000;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}

.newsletter {
    width: 80rem;
    color: #CCCC99;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    text-align: right;
    margin: 30px;
    position: sticky;
}

#animation_container {
    clear: both;
    position: relative;
    background-color: rgba(0, 0, 0, 1.0);
    margin: auto;
}

.kickstarter {
    margin: auto;
    display: block;
    font-weight: bold;
    color: #CCCC99;
    text-align: center;
    padding: 30px
}

.kickstarter a,
.kickstarter a:visited {
    color: #CCCC99;

}

#droplinks {
    display: none;
    list-style-type: none;
    background-color: #CC9900;
    clear: both;
    background-image: -webkit-repeating-linear-gradient(90deg, rgba(240, 180, 0, 1.00) 75.13%, rgba(113, 85, 0, 1.00) 100%);
    background-image: -moz-repeating-linear-gradient(90deg, rgba(240, 180, 0, 1.00) 75.13%, rgba(113, 85, 0, 1.00) 100%);
    background-image: -o-repeating-linear-gradient(90deg, rgba(240, 180, 0, 1.00) 75.13%, rgba(113, 85, 0, 1.00) 100%);
    background-image: repeating-linear-gradient(0deg, rgba(240, 180, 0, 1.00) 75.13%, rgba(113, 85, 0, 1.00) 100%);
    float: right;
    font-weight: bold;
}

.fas.fa-bars {
    clear: both;
    position: absolute;
}



@media (max-width : 980px) {
    #menu-icon {
        cursor: pointer;
        display: block;
        text-align: right;
        padding-right: 45px;
        padding-top: 45px;
        clear: none;
        padding-left: 45px;
        padding-bottom: 45px;
    }

    #menu-icon:hover>#droplinks {
        display: block
    }

    #navTop #links {
        display: none;
    }

    .tagline {
        padding-top: 325px;
    }

    .logo, .nav {
        position: fixed;
    }

    .newsletter {
        text-align: center;
    }

    .submit {
        display: block;
        width: 25%;
        margin: auto;
    }

    .blog p {
        font-size: 18px;
    }
}